<div class="blog__navigation">
  <% if authenticated_session.signed_in? %>
    <p class="blog__navigation__item"><%= link_to('homepage', root_path) %></p>
    <p class="blog__navigation__item"><%= link_to 'logout', logout_path, method: 'delete' %></p>
  <% end %>
</div>

<p>You currently have <%= @acitivities_count %> activities.</p>

<p>Create a new activity</p>
<%= simple_form_for ActivityForm.new, :url => new_admin_activity_path, :method => :get  do |form| %>
  <%= form.input :strava_activity_id, :label => 'Strava Activity ID' %>
  <%= form.submit 'Create new activity', :class => 'button' %>
<% end %>
