<% provide :navigation_items do %>
  <% if authenticated_session.signed_in? %>
    <%= NavigationItemPresenter.new('edit', edit_admin_activity_path(@activity_presenter.activity)).to_s %>
  <% end %>
<% end %>

<div class="activity">
  <h2 class="activity__title">
    <span class="activity__date"><%= @activity_presenter.date %></span> - 
    <%= @activity_presenter.title %>
  </h2>

  <div class="activity__body">
    <%= simple_format(@activity_presenter.body) %>
  </div>

  <table class="activity__stats">
    <tr>
      <th class="activity__stats__heading">Moving Time:</th>
      <td class="activity__stats__stat"><%= @activity_stats.moving_time %></td>
    </tr>
    <tr>
      <th class="activity__stats__heading">Distance:</th>
      <td class="activity__stats__stat"><%= @activity_stats.distance %></td>
    </tr>
    <tr>
      <th class="activity__stats__heading">Average Speed:</th>
      <td class="activity__stats__stat"><%= @activity_stats.average_speed %></td>
    </tr>
    <tr>
      <th class="activity__stats__heading">Climbed:</th>
      <td class="activity__stats__stat"><%= @activity_stats.metres_climbed %></td>
    </tr>
  </table>

  <%= render :partial => 'data', locals: { activity_presenter: @activity_presenter } %>
  <%= render :partial => 'laps', locals: { activity_presenter: @activity_presenter } %>
</div>
