<div class="blog__navigation">
  <p class="blog__navigation__back"><%= link_to('view all', root_path) %></p>
</div>

<div class="activity">
  <h2 class="activity__title"><%= @activity.title %></h2>

  <div class="activity__body">
    <%= simple_format(@activity.body) %>
  </div>

  <table class="activity__stats">
    <tr>
      <th class="activity__stats__heading">Moving Time:</th>
      <td class="activity__stats__stat"><%= @activity_stats.moving_time %></td>
    </tr>
    <tr>
      <th class="activity__stats__heading">Distance:</th>
      <td class="activity__stats__stat"><%= @activity_stats.distance %></td>
    </tr>
    <tr>
      <th class="activity__stats__heading">Average Speed:</th>
      <td class="activity__stats__stat"><%= @activity_stats.average_speed %></td>
    </tr>
    <tr>
      <th class="activity__stats__heading">Climbed:</th>
      <td class="activity__stats__stat"><%= @activity_stats.metres_climbed %></td>
    </tr>
  </table>
</div>
