<h2><%= @activity.title %></h2>

<%= simple_format @activity.body %>

<div>
  <dl>
    <dt>Moving Time:</dt>
    <dd><%= @activity_stats.moving_time %></dd>

    <dt>Metres Climbed:</dt>
    <dd><%= @activity_stats.metres_climbed %></dd>

    <dt>Average Speed:</dt>
    <dd><%= @activity_stats.average_speed %></dd>
  </dl>
</div>
